*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --fonte-primaria: "Nunito", sans-serif;
}
main{
    background-image: linear-gradient(315deg, rgba(29,22,143,1) 7%, rgba(115,18,136,0.7931547619047619) 81%);
}

